
.idea
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# C++ compilation files
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.dylib
